@use "../variables" as vars;

// Name Column /////////////////////////////////////////////////////////////////////////////////////////////////////////

.mltc-name-td-v2 .mltc-level-spacer:nth-child(2) {
  min-width: 10px;
}
.mltc-name-td-v2 .mltc-level-spacer:nth-child(4) {
  min-width: 1px;
}
.mltc-name-td-v2 .mltc-expand-button
{
  color: black;
  background: none;
  min-width: 2em;
}
.mltc-name-td-v2 .mltc-expand-button:hover
{
  min-width: 2em;
  color: red;
}

.mltc-name-td-v2
{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 250px;
  max-width: 250px;
  display: flex;
  flex-direction: row;
  border-left: 1px solid grey;
}

// This simply undoes unwanted styling that we get from ssts-data-table
.mltc-name-subtable-td-v2 tbody td:nth-child(2)
{
  white-space: nowrap;
  flex-direction: row;
  border-left: none;
  border-right: none;
  padding-left: 12px;
}

.mltc-name-th-v2
{
  min-width: 191px;
  max-width: 191px;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  font-size: vars.$fontScale;
}

.mltc-name-th-subtable-v2
{
  min-width: 191px;
  max-width: 191px;
  font-size: vars.$fontScale;
}


// Label Column  ///////////////////////////////////////////////////////////////////////////////////////////////////////

.mltc-label-th-v2,
.mltc-label-td-v2
{
  min-width: 80px;
  max-width: 80px;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  font-size: vars.$fontScale;
}

.mltc-label-container-v2
{
  display: block;
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0;
  font-size: vars.$fontScale;
  min-width: 180px;
  max-width: 180px;
}

.mltc-label-td-v2 button:nth-child(1)
{
  margin-left: 15px;
}

.mltc-label-td-v2 button:nth-child(2)
{
  margin-left: 5px;
}

// Predictions Column  /////////////////////////////////////////////////////////////////////////////////////////////////

.mltc-prediction-th-v2, .mltc-prediction-td-v2
{
  min-width: 80px;
  max-width: 80px;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  font-size: vars.$fontScale;
}

.mltc-prediction-td-v2.on {
  background-color: lightgoldenrodyellow;
}

.mltc-prediction-td-v2.off {
  background-color: transparent;
}

.mltc-prediction-td-v2 button:nth-child(1)
{
  margin-left: 15px;
}

.mltc-prediction-td-v2 button:nth-child(2) {
  margin-left: 5px;
}
