.mltc-name-th-v2-selection-clear {
  width: 1.5em;
  float: left;
}

.mltc-name-th-v2-selection-clear .sstc-select-button {
  border: none;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
  height: 20px;
  margin: 0 -0.3em 0.1em 0.2em;
  width: 22px;
}

.mltc-name-th-v2-selection-clear :focus {
  animation: bounce 0.2s;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-1px);
  }
  50% {
    transform: translateY(-2px);
  }
  75% {
    transform: translateY(-1px);
  }
  100% {
    transform: translateY(0);
  }
}