.mltc-name-td-v2 .sstc-visibility-all-button {
  border: none;
  margin-top: 0; // adjusts the icon to be even with checkbox
  margin-left: .2em; // adjust icon size (icon expands to 100% width)
  margin-right: -.3em; // adjust icon size (icon expands to 100% width)
  margin-bottom: .1em; // adjust inter-row distance
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
}

.mltc-name-td-v2 .sstc-visibility-all-button.transparent {
  background-color: transparent;
  fill: lightgray;
  opacity: 25%;
}

.mltc-name-td-v2 .sstc-visibility-all-button.off {
  // the svg changes
}


