.mltc-name-td-v2 .sstc-visibility-button-on {
  border: none;
  margin-top: -.5em; // adjusts the icon to be even with checkbox
  margin-left: -.2em; // adjust icon size (icon expands to 100% width)
  margin-right: -.2em; // adjust icon size (icon expands to 100% width)
  margin-bottom: -.1em;
}




//.sstc-visibility-button-mixed {
//  background: grey;
//  background: none;
//}
//
//.sstc-visibility-button-transparent {
//  //background: rgb(153, 177, 180);
//  background: none;
//
//}
//
//.sstc-visibility-button-hidden {
//  visibility: hidden;
//  background: none;
//
//}
//
//.sstc-visibility-button-off {
//  color: black;
//  background: none;
//}



