.mltc-label-container-v2-small
{
    display: block;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    padding: 0;
    font-size: 1.1em;
    min-width: 145px;
}